.profile {
    /* background-color: rgb(3, 29, 67); */
    border-radius:10px;
    justify-content: center;
    align-items: self-start;
    /* background-color: red; */
    width: fit-content;
    margin: auto;
    
}
.profile h2{
    padding-top: 20px;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5pc;
    width: 100%;
    text-align: center;
    transition: all ease .5s;
}

.profile h2:hover{
    background-color: #f0f0f0;
    color: black;
}