.profile {
    /* background-color: rgb(3, 29, 67); */
    border-radius:10px;
    justify-content: center;
    align-items: self-start;
    /* background-color: red; */
    width: fit-content;
    margin: auto;
    
}

.mainbg{
    background-color: rgb(3, 29, 67);
    position: fixed;
    top: 0;
    background-image: url("../../public/images/mainbg.jpeg");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: .5;
    margin: 0;
    
    filter: blur(3px); /* Blurs the background image */
    backdrop-filter: blur(5px); /* Applies blur behind content (modern browsers only) */
    -webkit-backdrop-filter: blur(5px); /* For Safari support */
}

.mainbg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black layer */
    z-index: 0;
}


.profile h2{
    padding-top: 20px;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 5pc;
    width: 100%;
    text-align: center;
    transition: all ease .5s;
}

.profile h2:hover{
    background-color: #f0f0f0;
    color: black;
}

#about{
    margin-top: 10rem;
    border: 5px solid rgb(209, 237, 160);
}

#work{
    margin-top: 10rem;
    background-color: #fff;
    width: 100%;
    border: 5px solid rgb(209, 237, 160);

}
.work h1 {
    margin-bottom: 3rem;
}


/* Resposnsibilities  */

.resp-card{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    background-color: rgb(24, 24, 24);
    transition: all ease .2s;
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
    padding-top: 0;
    justify-content: center;
}
.resp-card:hover{
    background-color: #222121;
}
.resp-card h2{
    font-weight: 400;
    font-size: 2.7rem;
}
.resp-card .img{
    border-radius: 5px;
    height: 100%;
    width: 25%;
    aspect-ratio: 1;
    padding: 0;
    margin-top: 0;
    padding-top: 0;
    margin: auto;
    padding-right: 10px;
}

.resp-card p{
    padding: 10px 10px;
    text-align: left;
    padding-left: 10px;
    transition: all ease .5s;
    align-content: center;
    font-size: 1.1rem;
    /* line-height: 2.4rem; */
}

.resp-card  ol {
    list-style-type: decimal; /* Ensures numbers are displayed */
    padding-left: 15px;       /* Adds space for alignment */
  }
/* .resp-card ul  li::marker {
    font-size: 2em;       
    margin-top: 5px;        
  } */








/* Responsive Styles */

@media (max-width: 700px) {
    .resp-card p, ol {
        font-size: 1rem;
    }
    .home-info {
        /* background-color: #fff; */
        /* font-size: 2rem; */
        width: 90%;
    }
    .benifite-desp{
        font-size: 1.5rem !important;
    }
}

@media (max-width: 500px) {
    .resp-card p, ol{
        font-size: .8rem;
    }
    .resp-card{
        width: 98%;
    }
    .custom-spotlight-card{
        padding: 0;
        padding-left: 25px;
    }
    .benifit-card{
        margin-bottom: 40px;
    }
    .resp-card img{
        width: 30%;
        padding: 10px 0;
    }
    .benifite-desp{
        font-size: 1rem !important;
    }
}

@media (max-width: 450px) {
    .home-info {
        font-size: 1.3rem;
    }
    .home-tittle{
        font-size: 10vw;
    }
}

